.helsinki-img {   
    padding-top: 12rem;
}

h2 {
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.6rem;
}

.introduction-text {
    font-size: 2.5rem;
    background-position-y: -10rem;
    margin: 0;
    background-color: rgba(0, 0, 0, 0.801);
    padding: 1rem;
    text-align: center;
    color: rgb(154, 146, 98);
    border: 1px solid rgb(154, 146, 98);
    border-radius: 5rem;
}

.list-links {
    display: flex;
    flex-wrap: wrap;
    padding-top: 1rem;
    justify-content: center;
}

.list-links>* {
    text-align: center;
    padding: 0 1rem 1rem 1rem;
}

.btn {
    font-size: 3rem;
    border: 2rem solid;
}

.btn:hover {
    background-color: aqua;
    font-weight: bold;
}

.btn-secondary {
    color: rgb(154, 146, 98);
    border-color: rgba(154, 146, 98, 0.438);
    background-color: rgba(0, 0, 0, 0.664); 
}


@media only screen and (min-width: 1439px) {
    .helsinki-img {   
        padding-top: 15rem;
    }

    .list-links {
        padding-top: 4rem;
    }
}


@media only screen and (max-width: 768px) {
    .helsinki-img {   
        padding-top: 9rem;
    }
}

@media only screen and (max-width: 426px) {
    h1 {
        font-size: 15vw;
    }
    h2 {
        font-size: 5vw;
    }
    .helsinki-img {   
        padding-top: 4rem;
    }
}






/* .round-img {
    text-align: center;
}

.bd-placeholder-img {
    border: 0.1rem solid rgb(154, 146, 98) ;
    border-radius: 5px;
} */